<nav class="navbar">
  <a routerLink="home" class="navbar__logo">
    <div class="navbar__logo--logo-h1">Manu</div>
    <div class="navbar__logo--logo-h2">.Blog</div>
  </a>
  <div class="navbar__links">
    <a class="navbar__links--link-h3" routerLink="home" routerLinkActive="navbar__links--active">Home</a>
    <a class="navbar__links--link-h3" routerLink="articles" routerLinkActive="navbar__links--active">Articles</a>
    <a class="navbar__links--link-h3" routerLink="about-me" routerLinkActive="navbar__links--active">About Me</a>
    <app-button-with-icon buttonName="Buy Me A Coffee" iconPath="assets/icons/coffee-icon.svg"></app-button-with-icon>
  </div>
</nav>
