@import "src/styles/variables";
@import "src/styles/maps";
@import "src/styles/mixins";

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $extra-light;

  &__logo {
    margin-left: 95px;
    display: flex;
    align-items: baseline;
    text-decoration: none;

    &--logo-h1 {
      @include headings(logo-h1);
    }

    &--logo-h2 {
      @include headings(logo-h2);
    }
  }

  &__links {
    margin-right: 95px;
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;

    &--link-h3 {
      @include headings(h3);
      text-decoration: none;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $light-blue;
      }
    }

    &--active {
      color: $blue;
    }
  }

  @include mobile {
    &__logo {
      margin-left: 15px;

      &--logo-h1 {
        @include headings(logo-h1);
        font-size: 20px;
      }

      &--logo-h2 {
        @include headings(logo-h2);
        font-size: 12px;
      }
    }

    &__links {
      margin-right: 15px;
    }
  }

  @include tablet {
    &__logo {
      margin-left: 30px;

      &--logo-h1 {
        @include headings(logo-h1);
        font-size: 28px;
      }

      &--logo-h2 {
        @include headings(logo-h2);
        font-size: 16px;
      }
    }

    &__links {
      margin-right: 30px;
    }
  }

  @include desktop {
    font-size: 16px;
  }
}


