@import "src/styles/variables";
@import "src/styles/maps";
@import "src/styles/mixins";

.articlePreView {
	width: 250px;
	height: 350px;
	background-color: $white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.2s ease-in-out;
	border-radius: $border-radius-medium;

	&__title-image {
		width: 250px;
		border-radius: $border-radius-medium;
	}

	&__title {
		@include headings(h2)
	}

	&:hover {
		@include page-styles(card-hover)
	}
}

.author {
	display: flex;
	gap: 20px;
	align-items: center;

	&__profile-picture {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}

	&__name {
		@include headings(p3);
		margin-bottom: 3px;
	}

	&__article-date-section {
		display: flex;
		@include headings(p4)
	}

	&__article-date::after {
		content: "•";
		margin-left: 5px;
		margin-right: 5px;
	}
}
