@import "src/styles/variables";
@import "src/styles/maps";
@import "src/styles/mixins";

.button {
	border: none;
	background-color: $blue;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	padding: 10px 15px;
	outline: none;
	transition: 0.2s ease-in-out;
	text-align: center;
	@include headings(button-text);

	&:hover {
		cursor: pointer;
		background-color: $light_blue;
	}

	@include mobile {
		&__name {
			display: none;
		}
	}

	&__name {
		margin: 0;
	}
}


