@import "src/styles/variables";
@import "src/styles/maps";
@import "src/styles/mixins";

.button {
	display: flex;
	align-items: center;
	gap: 10px;
	@include page-styles(standard-button);
	@include headings(button-text);

	&:hover {
		@include page-styles(standard-button-hover)
	}

	@include mobile {
		&__name {
			display: none;
		}
	}

	&__name {
		margin: 0;
	}
}


