<div class="homePage">
  <div class="intro">
    <div class="intro__content">
      <div class="intro__title">
        <div>Hi, I'm Manuela</div>
        <div>Front End Dev</div>
      </div>

      <div class="intro__subtitle">
        <div>On this blog I share tips and tricks, frameworks, tutorials, ect.</div>
        <div>Make sure you subscribe to get the latest updates</div>
      </div>
      <div class="intro__email-input">
        <input type="email" class="input-field" placeholder="Enter your email here..."/>
        <app-button buttonName="Submit"></app-button>
      </div>
    </div>

    <img class="intro__image" src="assets/icons/coding-illustration.svg">
  </div>
  <div class="articles">
    <app-article-pre-view *ngFor="let article of articles; let i = index"
                          [article]="article"
                          [index]="i"
                          (click)="onArticleClick(article.id)"></app-article-pre-view>
  </div>
</div>
